body{
    background-image: url(../siteimages/time.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.panel{
    color:rgb(17, 17, 17);
    opacity: 0.8;
}
h1 {
    text-align: center;
}